{% extends 'base.html' %}

{% block content%}
<section class="hero is-medium" style="background-color: {{ collection.color }};">
    <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            {{ collection.title }}
          </p>
          {% if collection.subtitle %}
          <p class="subtitle">
            {{ collection.subtitle }}
          </p>
          {% endif %}
          {% if collection.comment %}
          <p>
            {{ collection.comment }}
          </p>
          {% endif %}
        </div>
    </div>
</section>
<section class="section">
  <div class="container">
<div class="columns grid" data-colcade="columns: .masonry-col, items: .masonry-item">
  <div class="masonry-col column is-one-third"></div>
  <div class="masonry-col column is-one-third"></div>
  <div class="masonry-col column is-one-third"></div>
  {% for wish in collection.wishes.all %}

  <div class="masonry-item card" style="background-color: {{ wish.color }};">
      <header class="card-header">
          <p class="card-header-title">
              {{ wish.title }}
          </p>
      </header>
      <div class="card-content">
          {% if wish.subtitle %}
            <div class="subtitle">{{ wish.subtitle }}</div>
          {% endif %}
          {% if wish.comment %}
            <p class="content">{{ wish.comment }}</p>
          {% endif %}
      </div>

  </div>
  {% endfor %}
</div>
</div>
</section>

{% endblock %}