{% extends 'base.html' %}

{% block content%}
<section class="hero" style="background-color: {{ collection.color }};">
    <div class="hero-body">
        <div class="container has-text-centered mb-6">
          {% if collection.image %}
          <figure class="image is-3by1 mb-6">
            <img src="{{ collection.image.url }}">
          </figure>
          {% endif %}
          <p class="title ">
            {{ collection.title }}
          </p>
          {% if collection.subtitle %}
          <p class="subtitle">
            {{ collection.subtitle }}
          </p>
          {% endif %}
          {% if collection.comment %}
          <p>
            {{ collection.comment }}
          </p>
          {% endif %}
        </div>
    </div>
</section>
<section class="section">
  <div class="container">
<div class="columns grid" data-colcade="columns: .masonry-col, items: .masonry-item">
  <div class="masonry-col column is-one-third"></div>
  <div class="masonry-col column is-one-third"></div>
  <div class="masonry-col column is-one-third"></div>
  {% for wish in collection.wishes.all %}

  <div class="masonry-item card" style="background-color: {{ wish.color }};">
      <header class="card-header">
          <p class="card-header-title">
              {{ wish.title }}
          </p>
      </header>
      {% if wish.image %}
      <figure class="image is-4by3 mb-1">
        <img src="{{ wish.image.url }}">
      </figure>
      {% endif %}
      <div class="card-content">
        {% if wish.subtitle %}
          <div class="subtitle">{{ wish.subtitle }}</div>
        {% endif %}
        {% if wish.comment %}
          <p class="content">{{ wish.comment }}</p>
        {% endif %}
        {% if wish.link %}
          <p class="content">
            <a class="button is-link is-inverted" target="_blank" href="{{ wish.link }}">Klick here</a>
          </p>
        {% endif %}
        {% if wish.percentage %}
        <progress class="progress" value="{{ wish.percentage }}" max="100"></progress>
        {% endif %}
      </div>

      <footer class="card-footer">
        <div class="card-footer-item "></div>
        <a class="card-footer-item has-text-dark js-modal-trigger" data-target="modal-{{wish.id}}">Gift</a>
      </footer>
      <div id="modal-{{wish.id}}" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <p>{{wish.percentage}}</p>
            <p>{{wish.missing_count}}</p>
            <p>{{wish.missing_ammount}}</p>
            <!-- Your content -->
          </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>
  </div>
  {% endfor %}
</div>
</div>
</section>

{% endblock %}