@import "bulma.css";

.masonry {

}

.masonry-col {
    padding-top: 0;
    padding-bottom: 0;
}

.masonry-item {
    margin-bottom: 30px;
}

.header-parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}